BEE_API_URL=http://localhost:1633/
BEE_FEED_PK=
METADATA_FEED_TOPIC=dfd76b3ecbefe4606d9cbfa7e7c41884b22d214a0c13560bb7eb10e65c11851f
AUTO_ASSIGN_STAMP=true
DEFERRED_UPLOAD_SIZE_THRESHOLD_MB=5
TASK_TTL_MS=1200000
